doctype html
html
   head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      script(src="/bower_components/jquery/dist/jquery.min.js")
      script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
      link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet" href="/css/all.css")
      title "DS Lab 1"
   body
      main.container-fluid
         .row
            #leftpanels.col-xs-5.col-lg-4
               #search.row
                  input(type="text" placeholder="Enter the word...").col-xs-10
                  button.btn.btn-primary.search-button.col-xs-2
                     span.glyphicon.glyphicon-search
               #words-container.row
                  ul#words.col-xs-4.pre-scrollable
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                  ul#primary-links.col-xs-4.pre-scrollable
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                  ul#secondary-links.col-xs-4.pre-scrollable
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
                     li TestTestTestTest
                     li TestTestTestTestTest
                     li Test
                     li TestTestTest
                     li TestTestTestTest
                     li TestTestTestTestTestTest
                     li Test
            #graph.col-xs-7.col-lg-8